/* line 1, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
html, body {
  overflow-x: visible;
}

/* line 5, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#fixed-bottom {
  page-break-inside: avoid;
}

/* line 7, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf {
  margin-top: -70px;
  color: #043E7B !important;
}
/* line 11, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf table {
  border-color: #043E7B;
}
/* line 15, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf tr, #bill-pdf td, #bill-pdf th {
  color: #043E7B;
  border-color: #043E7B;
}
/* line 20, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf h3 {
  font-weight: bold;
  color: #e74c3c;
}
/* line 25, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf h4 {
  padding-top: 35px;
}
/* line 29, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf .col-xs-12 {
  text-align: right;
}
/* line 33, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf p {
  font-size: 0.7em;
}
/* line 37, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf #info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 43, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#bill-pdf #fixed-bottom {
  height: 180px;
}

/* line 48, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf {
  margin-top: -70px;
}
/* line 51, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf header {
  color: #043E7B !important;
  margin-bottom: 50px;
}
/* line 56, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf h3 {
  font-weight: bold;
  color: #e74c3c;
}
/* line 61, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf h4 {
  padding-top: 35px;
}
/* line 65, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf .col-xs-12 {
  text-align: right;
}
/* line 69, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf p {
  font-size: 0.7em;
}
/* line 73, /home/kenneth/Workspace/hotel-manager/app/assets/stylesheets/pdf.scss */
#statistics-pdf .row {
  page-break-inside: avoid;
}
