<div id="content">
    <h2>FEEL AT HOME</h2>
    <h1>AWAY FROM HOME</h1>
    <h3>Simple, Reliable and Awesome</h3>
 
    <div id="book-room" class="row">
      <div class="container">
      <form>
        <div class="col-md-3">
          <label for="email">Ngày đến</label>
          <input class="form-control" type="date">
        </div>
        <div class="col-md-3">
          <label for="email">Ngày đi</label>
          <input class="form-control" type="date">
        </div>
        <div class="col-md-3">
          <label for="email">Số lượng người</label>
          <input class="form-control" type="number" placeholder="Group? Please call us!">
        </div>
        <div class="col-md-3">
          <label for="email">&nbsp;</label>
          <button type="submit" class="btn btn-primary search-btn">Tìm kiếm</button>
        </div>
      </form>
      </div>
    </div>
  </div>
    
  <div id="map-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>LIÊN HỆ</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus bibendum ullamcorper. Integer vel hendrerit purus. Quisque ac massa volutpat, fermentum velit id, posuere nisi.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <span><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
          <p>56-66 Nguyen Hue St, Dist 1, HCMC Viet Nam</p>
        </div>
        <div class="col-md-4">
          <span><i class="fa fa-phone fa-2x" aria-hidden="true"></i></span>
          <p>Tel (84-8) 38292860 - Fax (84-8) 38244229</p>
        </div>
        <div class="col-md-4">
          <span><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
          <p>reservation@palacesaigon.com</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4802228480294!2d106.70151731480084!3d10.77448399232284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f46ef079535%3A0x48a6cdc48bb14ad0!2zNTYtNjYgTmd1ecOqzINuIEh1w6rMoywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1465953624849" height="550" frameborder="0" style="border:0; width: 100%; " allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>