<div id="content">
	<div class="center">
	  <h2>FEEL AT HOME</h2>
	  <h1>AWAY FROM HOME</h1>
	  <h3>Simple, Reliable and Awesome</h3>
	</div>
	<div class="container">
		<div id="book-room" class="row">
			<form style="max-width: 100%">
				<div class="col-md-3">
					<label for="email">Check-in date</label>
				  <input class="form-control" type="date">
				</div>
				<div class="col-md-3">
					<label for="email">Check-out date</label>
				  <input class="form-control" type="date">
				</div>
				<div class="col-md-3">
					<label for="email">Quantity of people</label>
				  <input class="form-control" type="number" placeholder="Group? Please call us!">
				</div>
				<div class="col-md-3">
					<label for="email">&nbsp;</label>
				  <button type="submit" style="background-color: yellow;" class="btn btn-default search-btn">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="social-networking">
	<span>Connect to us: </span>
	<span style="color: #3B5998;"><i class="fa fa-facebook fa-3x"></i></span>
	<span style="color: #5EA9DD;"><i class="fa fa-twitter fa-3x"></i></span>
	<span style="color: #EA4335;"><i class="fa fa-google-plus fa-3x"></i></span>
	<span style="color: #BD2125;"><i class="fa fa-pinterest fa-3x"></i></span>
</div>