<div id="content">
	<div class="center">
	  <h2>FEEL AT HOME</h2>
	  <h1>AWAY FROM HOME</h1>
	  <h3>Simple, Reliable and Awesome</h3>
	</div>
	<div class="container">
		<div id="book-room" class="row">
			<form style="max-width: 100%">
				<div class="col-md-3">
					<label for="email">Check-in date</label>
				  <input class="form-control" type="date">
				</div>
				<div class="col-md-3">
					<label for="email">Check-out date</label>
				  <input class="form-control" type="date">
				</div>
				<div class="col-md-3">
					<label for="email">Quantity of people</label>
				  <input class="form-control" type="number">
				</div>
				<div class="col-md-3">
					<label for="email">&nbsp;</label>
				  <button type="submit" id="search-btn" class="btn btn-default">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="social-networking">
	<span>Connect to us: </span>
	<span style="color: #3B5998;"><i class="fa fa-facebook fa-3x"></i></span>
	<span style="color: #5EA9DD;"><i class="fa fa-twitter fa-3x"></i></span>
	<span style="color: #EA4335;"><i class="fa fa-google-plus fa-3x"></i></span>
	<span style="color: #BD2125;"><i class="fa fa-pinterest fa-3x"></i></span>
</div>

<div id="info">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4>ADDRESS</h4>
				<span class="border-top-info"></span>
				<p>5046 S Greenwood Avenue, Chicago, IL 60615</p>
			</div>
			<div class="col-md-3">
				<h4>CONTACT</h4>
				<span class="border-top-info"></span>
				<p>
					info@abchotel.com
				</p>
				<p>
					Tel: 123-456-789
				</p>
			</div>
			<div class="col-md-3">
				<h4>ABOUT US</h4>
				<span class="border-top-info"></span>
				<p>Alphabet Inc. is an American multinational conglomerate created in 2015 as the parent company of Google and several other companies previously owned by Google.</p>
			</div>
			<div class="col-md-3">
				<h4>WE ACCEPT</h4>
				<span class="border-top-info"></span>
				<p>
					<span style="color: #132C92;">
						<i class="fa fa-cc-visa fa-2x"></i>
					</span>
					<span style="color: #FFAA18;">
						<i class="fa fa-cc-mastercard fa-2x "></i>
					</span>
					<span style="color: #C09B43;">
						<i class="fa fa-cc-amex fa-2x"></i>
					</span>
					<span style="color: #3BA134;">
						<i class="fa fa-cc-jcb fa-2x"></i>
					</span>
					<span style="color: #002F86;">
						<i class="fa fa-cc-paypal fa-2x"></i>
					</span>
					<span style="color: #A2C2CD;">
						<i class="fa fa-cc-discover fa-2x"></i>
					</span>
					<span style="color: #0370CD;">
						<i class="fa fa-cc-dinners-club fa-2x"></i>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>