@import 'flat-ui/variables';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
@import "font-awesome";
@import "responsive";
@import "welcome";
@import "admin/application";
// @import 'flat-ui/modules/footer';
// @import 'flat-ui/modules/login';
// @import 'flat-ui/modules/palette';
// @import 'flat-ui/modules/share';
// @import 'flat-ui/modules/tile';
// @import 'flat-ui/modules/todo';

body {
	padding-top: 50px;
	min-height: 700px;
	overflow-x: hidden;
}

body a {
	transition:0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	-o-transition:0.3s all;
	-ms-transition:0.3s all;
}

div.tooltip-inner {
  font-size: 20px;
}

header {
	h1, h2, h3, h4, h5, h6 {
		position: relative;
	}

	@extend .page-header;
	position: relative;
	padding-bottom: 0px;

	&:first-child {
		margin-top: 20px;
	}
}

ul.actions, ul.list-actions {
	@extend .list-unstyled;
	@extend .list-inline;
}

form {
	max-width: 500px;
}

.login-form > form {
	min-width: 100%;
}

a.new, a.edit, a.delete, a.back, a.pay, li.export > a {
	@extend .btn;

	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
	}
}

.icon-only {
	a.edit, a.delete, a.pay {
		&:before {
			padding-right: 0;
		}
	}
}

a.new {
	@extend .btn-success;

	&:before {
		@extend .fa-plus-square;
	}
}

a.edit {
	@extend .btn-primary;

	&:before {
		@extend .fa-pencil;
	}
}

a.delete {
	@extend .btn-danger;

	&:before {
		@extend .fa-trash-o;
	}
}

a.back {
	@extend .btn-warning;
	margin: 20px 0;

	&:before {
		@extend .fa-backward;
	}
}

a.pay {
	@extend .btn-info;

	&:before {
		@extend .fa-money;
	}
}

li.export > a {
	margin-top: 5px;
  color: #fff;
  background-color: #e74c3c;
  border-color: #c0392b;

  &:before {
  	@extend .fa-2x;
  	@extend .fa-print;
  }
}

.alert {
	margin-top: 10px;
}

.alert-notice {
	@extend .alert-success;
}

.alert-alert {
	@extend .alert-danger;
}

.info {
	@extend .table;
	@extend .table-condensed;

	th {
		width: 35%;
	}

	tr:first-child {
		td, th {
			border-top: 0;
		}
	}

	td, th {
		line-height: 24px !important;
	}

	margin-bottom: 30px;
}

.listing-index {
	overflow-x: auto;
}

.listing-index table {
	@extend .table;
	@extend .table-bordered;
	@extend .table-hover;
	text-align: center;

	thead tr th {
		text-align: center;
	}
}

.padding-top-15 {
	padding-top: 15px !important;
}

.margin-right-15 {
	margin-right: 15px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.all-grid-system-4 {
	@extend .col-xs-4;
	@extend .col-sm-4;
	@extend .col-md-4;
	@extend .col-lg-4;
}

.label_type {
	@extend .label;
	font-size: 15px;
	display: block;
	height: 100%;
	padding: 10px 4px;
}

.room_type-a, .customer_type-standard {
	@extend .label-info;
	min-width: 74px;
}

.room_type-b, .customer_type-loyal {
	@extend .label-warning;
}

.room_type-c, .customer_type-vip {
	@extend .label-danger;
}

.customer_type-newbie {
	@extend .label-default;
	min-width: 74px;
}

.customer_type-basic {
	@extend .label-primary;
}

.room_status-renting, .receipt_status-renting {
	background-color: #1abc9c;
	min-width: 74px;
}

.room_status-available {
	@extend .label-success;
	min-width: 74px;
}

.receipt_status-checked-out {
	background-color: #c0392b;
	min-width: 100px;
}

.first-icon, .second-icon {
	top: 7px !important;
}

#footer {
	margin-top: 50px;
	h4 {
		font-size: 14px;
	}

	.border-top-info {
		margin-top: -5px;
		display: block;
		width: 40px;
		border-top: 2px solid #e74c3c;
		margin-bottom: 10px;
	}

	p {
		padding-top: 5px;
		font-size: 12px;
		font-weight: lighter;
		color: #878B8B;
	}
}

.max-width-100 {
	max-width: 100% !important;
}

#statistic_date {
	form {
		max-width: 100%;
	}

	.listing-index table {
		width: 100% !important;
	}
}

.spinner {
	width: 167px !important;
  text-align: center;
  margin: 0 auto;
  display: none;
  
  img {
  	width: 48px;
  	height: 48px;
  }
}

#fixed-bottom { page-break-inside: avoid; }

#bill-pdf {
	margin-top: -70px;
	color: #043E7B !important;
	
	table {
		border-color: #043E7B;
	}

	tr, td, th {
		color: #043E7B;
		border-color: #043E7B;
	}

	h3 {
		font-weight: bold;
		color: #e74c3c;
	}

	h4 {
		padding-top: 35px;
	}

	.col-xs-12 {
		text-align: right;
	}

	p {
		font-size: 0.7em;
	}

	#info {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	#fixed-bottom {
		height: 180px;
	}
}

#statistics-pdf {
	margin-top: -70px;

	header {
		color: #043E7B !important;
		margin-bottom: 50px;
	}
	
	h3 {
		font-weight: bold;
		color: #e74c3c;
	}

	h4 {
		padding-top: 35px;
	}

	.col-xs-12 {
		text-align: right;
	}

	p {
		font-size: 0.7em;
	}

	.row {
		page-break-inside: avoid;
	}
}

