@media(min-width: $screen-sm-min) {
	header {
		h1, h2, h3, h4, h5, h6 {
			max-width: 55%;
		}
	}

	ul.actions {
		position: absolute;
		bottom: -2px;
		right: 2px;
		max-width: 45%;
		text-align: right;
	}
	
	.info, .listing-index table, .will_page, .spinner {
		width: 65% !important;
	}
}

@media(max-width: $screen-sm-max) {
	a.edit, a.delete, a.pay {
		margin-bottom: 5px;
	}

	#book-room, .form-control {
		margin-bottom: 10px;
	}

	#map-full {
		margin-top: -10px;
	}
}

@media(max-width: $screen-xs-max) {
	li.navbar-text {
		padding-left: 25px;
	}
}

@media (max-width: $screen-sm-max) {
	.bot-item h4 {
		padding-top: 10px;
	}
}

