.navbar-default {
	background-color: transparent;
	border: none;
	margin-top: -43px;
}

.navbar-nav > li > .dropdown-menu {
	border: none;
	background-color: transparent;
}

.navbar-default .navbar-nav li a {
	color: #fff;
	background-color: transparent;
	margin-left: 1.2em;
	margin-right: 1.2em;
	border-top: 3px solid transparent;
}

.navbar-default .navbar-nav .dropdown-menu li a {
	border-bottom: 2px solid transparent;
	font-size: 1em;
	font-weight: bold;
	padding-left: 1.2em;
}

.navbar-default .navbar-nav .dropdown-menu li a:hover {
	border-bottom: 2px solid #e74c3c;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-default .navbar-link {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2.0em;
  font-weight: bolder;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e74c3c;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
  border-top: 3px solid #e74c3c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  border-top: 3px solid #e74c3c;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}

#content {
	background: url(bed.jpg) no-repeat center center;
	min-height: 675px;
	background-size: cover;
	color: #fff;
	margin-top: -475px;
	padding-top: 377px;
}

#content h2 {
	padding-top: 200px;
	word-spacing: 6px;
	font-size: 60px;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

#content h1 {
	margin-top: -10px;
	padding-top: 30px;
	font-size: 80px;
	font-weight: bold;
	word-spacing: 5px;
	letter-spacing: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}

#content h3 {
	margin-top: -10px;
	font-weight: 25px;
	padding-top: 15px;
	padding-bottom: 60px;
	word-spacing: 2px;
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {

	.navbar-default {
		background-color: transparent;
	}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent;
  }

}

.navbar-default .navbar-link:hover {
  color: #2db893;
}

.center {
	text-align: center;
}

#book-room {
	padding: 20px 15px;
	border: 2px solid yellow;
	margin-bottom: 80px;
}

#search-btn {
	padding: 6px;
	width: 100%;
	color: black;
	font-weight: bold;
	background-color: yellow;
}

#social-networking {
	margin-top: -10px;
	height: 100px;
	font-weight: bold;
	background-color: #ECECEC;
	text-align: center;
	padding-top: 30px;
	padding-right: 10px;

	.fa-3x {
		margin-left: 30px;
	}

	span:first-child {
		font-size: 20px;
		padding-right: 15px;

	}
}

#info {
	padding-top: 20px;
	h4 {
		font-size: 14px;
	}

	.border-top-info {
		margin-top: -5px;
		display: block;
		width: 40px;
		border-top: 2px solid #e74c3c;
		margin-bottom: 10px;
	}

	p {
		padding-top: 5px;
		font-size: 12px;
		font-weight: lighter;
		color: #878B8B;
	}
}
