#content {
  background: image-url("bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  margin-top: -60px;
  text-align: center;

  h2 {
	  font-weight: 300;
	  background-color: rgba(0, 0, 0, 0.3);
	  padding-top: 150px; 
	  font-size: 65px;
	  word-spacing: 15px;
	}

	h1 {
	  background-color: rgba(0, 0, 0, 0.3);
	  margin-top: -15px; 
	  font-size: 85px;
	  font-weight: 800;
	  padding-top: 50px;
	  letter-spacing: 5px;
	}

	h3 {
	  background-color: rgba(0, 0, 0, 0.3);
	  margin-top: -15px;
	  font-size: 30px;
	  font-weight: 300;
	  padding-top: 20px;
	  letter-spacing: 1px; 
	} 
}

#book-room {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -15px;
  padding: 100px 0;
  text-align: left;

  form {
  	max-width: 100% !important;
  }

  .container {
	  padding: 20px;
	  border: 3px solid #1abc9c;
	  border-radius: 10px;
	}

	label {
	  font-weight: bold;
	}

	button {
	  width: 100%;
	}
}


#map-full {
  text-align: center;
  color: #fff;
  background-color: #2C3E50;

  h2 {
	  font-weight: lighter;
	  padding: 50px 0;
	}

	p {
	  font-size: 16px;
	  padding-bottom: 35px;
	}

	iframe {
	  margin-top: 100px;
	  margin-bottom: 50px;
	}
}